html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    display: flex;
}

#root {
    width: 100%;
    height: 100vh;
    margin: 0;
}

.chatbot-widget, .chatbot-interface {
    position: absolute;
}

.chatbot-widget {
    right: 20px;
    font-size: 60px;
    color: #25D366;
    bottom: 0;
    cursor: pointer;
}

.chatbot-interface {
    bottom: 10px;
    right: 10px;
    width: 30%;
    height: 70%;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 5px;
    animation: fade-in 500ms forwards;
}

.chatbot-header {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    color: white;
    background-color: #a30000;
    display: flex;
    height: 10%;
    justify-content: space-between;
    align-items: center;
    padding: 0 7px;
}

.chatbot-header img {
    height: 90%;
}

.chatbot-header p {
    cursor: pointer;
    font-size: 2rem;
}

.chatbot-input {
    height: 10%;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0 5px;
    width: 95%;
    margin: 0 auto;
    border: 1px solid #cccc;
    border-radius: 5px;
    background-color: rgb(245, 245, 245);
}

.chatbot-input input {
    height: 90%;
    background-color: inherit;
    flex-grow: 1;
    border: none;
    padding-left: 30px;
    font-size: 1.2rem;
}

button svg {
    text-align: center;
    font-size: 1.7rem;
}

.chatbot-input input:focus {
    outline: none;
}

button {
    cursor: pointer;
    transition: 300ms;
    width: 10%;
    height: auto;
    border: none;
    color: maroon;
    background-color: inherit;
}

button:hover {
    transform: translate(-3px, -3px);
    color: rgba(128, 0, 0, 0.5);
}

button:disabled {
    color: grey;
    cursor: not-allowed;
}

.info-text {
    color: rgba(0, 0, 0, 0.6);
    width: 90%;
    margin: auto;
    text-align: center;
    font-size: 1.2rem;
}

.chats {
    overflow-y: scroll;
    padding: 5px;
    border-radius: inherit;
    background-color: rgb(245, 245, 245);
    height: calc(100% - (10% + 5px + 5px + 10%));
    margin: 5px 3px;
}

.prompt {
    background-color: #d7f9d7;
    color: #222;
    width: 50%;
    padding: 5px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.response {
    border-radius: 10px;
    background-color: rgb(245, 245, 245);
    padding: 5px;
    margin: 5px;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.3);
}

.prompt, .response {
    border: 1px solid #d8d8d8;
}

.thinking {
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.thinking svg {
    animation: spin 1s infinite linear;
    font-size: 1.5rem;
}

@keyframes fade-in {
    from {
        right: -50%
    }
    to {
        right: 10px;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 720px) {
  .chatbot-interface {
    width: 95%;
  }
}